<!DOCTYPE html>
<html>
  {% block head %}
  {% endblock %}

  <body>
    <header>
      <div class="supertitech-logo">
        <h1><a href="{% url 'menu' %}">Supertitech</a></h1>
        <a href="{% url 'QRmatrix'  %}">東工大ポータル自動ログイン（開発途中）</a>
        <a href="{% url 'login'  %}">ログアウト</a>
      </div>
    </header>
    {% block top %}
    {% endblock %}

    <div class="main-container">
      {% block main %}
      <div class="content-container">
        {% block content %}
        {% endblock %}
      </div>
      {% endblock %}
    </div>
  </body>
</html>

