{% extends 'Supertitech/base.html' %}

{% block head %}
{% load static %}
<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" type="text/css"
                       href = "{% static 'Supertitech/main.css' %}" />
<link rel="stylesheet" type="text/css"
                       href = "{% static 'Supertitech/document.css' %}" />
{% endblock %}

{% block top %}
  <h2>資料集</h2>
{% endblock %}

{% block content %}
{% for document in filelist %}
  <div class="document-per-year-outer">
    <div class="document-per-year">
      <h3>H30</h3>
      <ul>
        <li>
          <p><a href="{{ document.file.url }}" download="{{ document.file.name }}">{{ document }}</a></p>
          <p class="description">{{ document.description }}</p>
        </li>
      </ul>
    </div>

    <div class="document-per-year">
      <h3>H29</h3>
      <ul>
        <li>
          <p><a href="{{ document.file.url }}" download="{{ document.file.name }}">{{ document }}</a></p>
          <p class="description">{{ document.description }}</p>
        </li>
      </ul>
    </div>

    <div class="document-per-year">
      <h3>H28</h3>
      <ul>
        <li>
          <p><a href="{{ document.file.url }}" download="{{ document.file.name }}">{{ document }}</a></p>
          <p class="description">{{ document.description }}</p>
        </li>
      </ul>
    </div>

    <div class="document-per-year">
      <h3>H27</h3>
      <ul>
        <li>
          <p><a href="{{ document.file.url }}" download="{{ document.file.name }}">{{ document }}</a></p>
          <p class="description">{{ document.description }}</p>
        </li>
      </ul>
    </div>

    <div class="document-per-year">
      <h3>H26</h3>
      <ul>
        <li>
          <p><a href="{{ document.file.url }}" download="{{ document.file.name }}">{{ document }}</a></p>
          <p class="description">{{ document.description }}</p>
        </li>
      </ul>
    </div>
  </div>
{% endfor %}
{% endblock %}
