{% extends 'Supertitech/base.html' %}

{% block head %}
{% load static %}
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css"
                         href = "{% static 'Supertitech/main.css' %}" />
  <link rel="stylesheet" type="text/css"
                         href = "{% static 'Supertitech/document.css' %}" />
  <link rel="stylesheet" type="text/css"
                         href = "{% static 'Supertitech/table.css' %}" />
  <link rel="stylesheet" type="text/css"
                         href = "{% static 'Supertitech/pin.css' %}" />
  <link rel="stylesheet" type="text/css"
                         href = "{% static 'Supertitech/msgcard.css' %}" />
  <link rel="stylesheet" type="text/css"
                         href = "{% static 'Supertitech/repu.css' %}" />
</head>
{% endblock %}

{% block main %}
<div class="tab-container">
  <input type="radio" name="tabs" id="tab1" checked="">
  <input type="radio" name="tabs" id="tab2">
  <input type="radio" name="tabs" id="tab3">
  <input type="radio" name="tabs" id="tab4">
  <div class="tab-area">
    <label for="tab1" class="tab tab1-label">授業情報</label>
    <label for="tab2" class="tab tab2-label">連絡板</label>
    <label for="tab3" class="tab tab3-label">過去問</label>
    <label for="tab4" class="tab tab4-label">資料</label>
  </div>
  <div class="tab-content-container">
    <!-- 授業情報 -->
    <section class="tab-content" id="tab-reputation">
      <div class="body_content">
        <div class="subject-info">
          <h2>授業情報</h2>
          <ul class="subject_date">
            <li><p>授業名</p><p>{{subject.title}}</p></li>
            <li><p>開講クォーター</p> <p>{{subject.Q}}Q</p></li>
            <li><p>単位数</p><p>{{subject.time}}</p></li>
            <li><p>開講時間</p><p>{{subject.time}}時間目</p></li>
            <li><p>担当教員</p><p>{{subject.teacher}}</p></li>
            <li><p>講義室</p><p>{{subject.classroom}}</p></li>
            <li><p>授業内容</p><p>{{subject.content}}</p></li>
          </ul>
        </div>

        <div class="msg-card-container">
          <h2>レビュー</h2>
          {% for item in contents %}
          <div class="msg-card">
            <header>
              <img class="msg-profile-img" src="{{item.owner.profile.photo.url}}"></img>
              <span class="msg-owner">{{item.owner}}</span>
            </header>
            <section class="msg-content">{{item.content}}</section>
            <footer>
              <p>{{item.pub_date}}</p>
              <p class="repu-fav">
                <a class="fav-atag" href="{% url 'good' item.id %}"><button class="fav-button"></button></a>
                <span class="fav-counter">{{item.good_count}}</span>
              </p>
              <p>
              {% if item.owner == request.user %}
              <a class="del-atag" href="{% url 'delete' item.id %}"><button class="del-button del-active"></button></a>
              {% else %}
              <button class="del-button del-passive"></button>
              {% endif %}
              </p>
            </footer>
          </div>

          {% endfor %}
        </div>
        <form action="{% url 'repu' subject_id %}" method="post">
          {% csrf_token %}
          {{form}}
          <p><input type="submit" name="reviewbutton" value="投稿" class="submit-button"></p>
        </form>
      </div>
    </section>
    <!-- /授業情報 -->

    <!-- 連絡版 -->
    <section class="tab-content" id="tab-contact">
      <div class="body_content">
        <div class="contact-header">
          <h2>連絡版</h2>
          <!-- ピン留め用サイドバー -->
          <div id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><span>&#x1F4CC;</span></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">
              <h3>ピン留めアイテム</h3>
              <aside class="msg-card-container">
                {% for item in responses %}
                {% if item in pinres %}
                <div class="msg-card msg-card-white">
                  <header>
                    <img class="msg-profile-img" src="{{item.owner.profile.photo.url}}">
                    <span class="msg-owner">{{item.owner}}</span>
                  </header>
                  <section class="msg-content">{{item.content}}</section>
                  <footer>
                    <p>{{item.pub_date}}</p>
                    <p><a href="{% url 'pincheck' item.id %}">&#x1F4CC</a></p>
                  </footer>
                </div>
                {% endif %}
                {% endfor %}
              </aside>
            </div>
          </div>
          <!-- /ピン留め用サイドバー -->
        </div>
        <div class="msg-card-container">
          {% for item in responses %}
          <div class="
          msg-card
          {% if item in pinres %}
          repu-pinned
          {% endif %}
          ">
            <header>
              <img class="msg-profile-img" src="{{item.owner.profile.photo.url}}"></img>
              <span class="msg-owner">{{item.owner}}</span>
            </header>
            <section class="msg-content">{{item.content}}</section>
            <footer>
              <p>{{item.pub_date}}</p>
              <p>
              {% if item.owner == request.user %}
              <a href="{% url 'resdelete' item.id %}"><button class="del-button del-active"></button></a>
              {% else %}
              <button class="del-button del-passive"></button>
              {% endif %}
              </p>
              <p>
              <a href="{% url 'pincheck' item.id %}">&#x1F4CC</a>
              {% if item in pinres %}
              ピン止め中
              {% endif %}
              </p>
            </footer>
          </div>
          {% endfor %}
        </div>
        <form action="{% url 'repu' subject_id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{resform}}
          <p><input type="submit" name="resbutton" value="投稿" class="submit-button"></p>
        </form>
      </div>

    </section>
    <!-- /連絡版 -->

    <!-- 過去問 -->
    <section class="tab-content" id="tab-pastexam">
      <div class="body_content">
        <h2>過去問</h2>
        <table class="document">
          <thead>
            <tr><th>ファイル名</th><th>ダウンロード</th><th>削除</th>
          </thead>
          <tbody>
            {% for pastexam in pastexamlist %}
            <tr>
              <td class="description">
                {{ pastexam.description }}
              </td>
              <td>
                <a href="{{ pastexam.pastexamfile.url }}" download="{{ pastexam.pastexamfile.name }}">
                  <button class="table-button">Download</button>
                </a>
              </td>
              <td>
                {% if pastexam.owner == request.user %}
                <a class="button-wrapper" href="{% url 'examdelete' pastexam.id %}"><button class="del-button del-active"></button></a>
                {% else %}
                <button class="del-button del-passive"></button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form action="{% url 'repu' subject_id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{examform}}
          <input type="submit" name="examupload" value="Upload" class="submit-button">
        </form>
      </div>
    </section>
    <!-- /過去問 -->

    <!-- 資料 -->
    <section class="tab-content" id="tab-documents">
      <div class="body_content">
        <h2>資料集</h2>
        <table class="document">
          <thead>
            <tr><th>ファイル名</th><th>ダウンロード</th><th>削除</th>
          </thead>
          <tbody>
            {% for document in documentlist %}
            <tr>
              <td class="description">
                {{ document.description }}
              </td>
              <td>
                <a href="{{ document.documentfile.url }}" download="{{ document.documentfile.name }}">
                  <button class="table-button">Download</button>
                </a>
              </td>
              <td>
                {% if document.owner == request.user %}
                <a class="button-wrapper" href="{% url 'examdelete' document.id %}"><button class="del-button del-active"></button></a>
                {% else %}
                <button class="del-button del-passive"></button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form action="{% url 'repu' subject_id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{docform}}
          <input type="submit" name="docupload" value="Upload" class="submit-button">
        </form>
      </div>
      <!-- /資料 -->
    </section>
  </div>
  {% endblock %}
