{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
                           href = "{% static 'Supertitech/signup.css' %}" />
  </head>

  <body>
    <!--
      <div class="container">
      <p></p>
      <h2>ユーザ登録</h2>
      <p>ユーザ登録をするにはこちらのフォームをご利用ください。</p>
      <p>パスワードは６文字以上にして下さい。</p>
      </div>
    -->
    <div class="py-3">
      <div class="wrapper">
        <h1>User Create</h1>
        <form action="{% url 'signup' %}" method="post" placeholder="テスト">
          <!-- ユーザ名 -->
          <p>
          <!--
            <label for="name" class="col-md-3 col-form-label">
            ユーザ名 <span class="badge badge-warning">必須</span>
            </label>
          -->
          {% csrf_token %}
          {{ form.username }}
          </p>
          <!-- /ユーザ名 -->

          <!-- パスワード -->
          <p>
          <!--<label for="password" class="col-md-3 col-form-label">
            パスワード <span class="badge badge-warning">必須</span>
            </label>
          -->
          {% csrf_token %}
          {{ form.password1 }}
          </p>
          <!-- /パスワード -->

          <!-- パスワード確認 -->
          <p>
          <!--<label for="password2" class="col-md-3 col-form-label">
            パスワードの確認 <span class="badge badge-warning">必須</span>
            </label>
          -->
          {% csrf_token %}
          {{ form.password2 }}
          </p>
          <!-- /パスワード確認 -->

          {# エラーメッセージを表示 #}
          <ul class="err-msg-container">
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
            {% endif %}
          </ul>

          <!-- 確認ボタン -->
          <button type="submit" class="btn btn-primary">SIGN UP</button>

        </form>
        <!-- /フォーム -->
      </div>
    </div>
  </body>
</html>
